.gameSlider {
    margin-bottom: 8px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.gameSlider h2 {
    color: wheat;
    text-shadow: 2px 2px black;
    margin: 0px 0px 0px 35px;
}
.gameSlider--listarea {
    overflow-x: hidden;
}
.gameSlider--list {
    transition: 500ms;
}
.gameSlider--item {
    display: inline-block;
    width: 220px;
}
.gameSlider--item img {
    width: 100%;
    transform: scale(0.9);
}
.gameSlider--item img:hover {
    transform: scale(1);
    transition: 300ms;
}
.gameSlider--itemName {
    display: flex;
    justify-content: center;
    font-size: small;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    padding: 1px;
    opacity: 0;
    color: white;
}
.gameSlider--item:hover .gameSlider--itemName {
    opacity: 100;
    transition: 500ms;
}
.gameSlider--left,
.gameSlider--right {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: 300ms;
    margin-top: 115px;
}
.gameSlider--left {
}
.gameSlider--right {
    right: 0;
}
.gameSlider:hover .gameSlider--left,
.gameSlider:hover .gameSlider--right {
    opacity: 100;
}