.gameSlider {
    margin-top: 24px;
    margin-bottom: 30px;
}
.gameSlider h2 {
    margin: 30px 0px 5px 35px;
}
.gameSlider--listarea {
    overflow-x: hidden;
}
.gameSlider--list {
    transition: 200ms;
}
.gameSlider--item {
    display: inline-block;
    width: 150px;
}
.gameSlider--item img {
    width: 100%;
    transform: scale(0.9);
}
.gameSlider--item img:hover {
    transform: scale(1);
    transition: 300ms;
}
.gameSlider--left,
.gameSlider--right {
    margin-top: 10px;
    position: absolute;
    width: 40px;
    height: 205px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: 200ms;
}
.gameSlider--left {
    left: 0;
}
.gameSlider--right {
    right: 0;
}
.gameSlider:hover .gameSlider--left,
.gameSlider:hover .gameSlider--right {
    opacity: 100;
}