.Container {
    margin-bottom: 8px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffeb7a;
    color: #bda625;
    border-width: 10px;
    border-radius: 5px;
    padding: 2px;
}
.Svg, .Text {
    margin-right: 4px;
    margin-left: 4px;
}
.Text {
    font-size: small;
}