@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

.App {
  background-color: #00091a;
  color: #fff;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .App{
    background-color: #00091a;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 66px;
  }
}